.features-section {
  padding-top: 62px;
  padding-bottom: 48px;
}

.features-title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 52px;
  color: $title-color;

  margin-bottom: 10px;
}

.features-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: $subtitle-color;
  margin-bottom: 99px;
}

@media screen and (max-width: 1139px) {
  .features-list-item {
    position: relative;
    width: 335px;
    height: 392px;

    &:not(:last-child) {
      margin-bottom: 90px;
    }
  }
}
.features-list-item-wrapper-backgr {
  position: absolute;

  @media screen and (max-width: 1139px) {
    background: #68c9ba;
    opacity: 0.1;
    border-radius: 50px;

    width: 335px;
    height: 392px;
  }
}

.features-list-item-wrapper-content {
  position: absolute;
  width: 286px;
  left: 40px;
  bottom: 47px;
}
.features-background-vector {
  position: absolute;
  display: inline-block;
  width: 155px;
  height: 90px;
  top: 82px;
  right: 9px;
  background-size: contain;
  transform: matrix(-0.71, -0.71, 0.71, -0.71, 0, 0);
  // transform: rotate(135.08°);

  background-image: url(../images/features-section/Vect1.png);
  background-repeat: no-repeat;
}

.features-background-img {
  position: relative;
  z-index: 1;
  display: block;
  width: 176px;
  height: 159px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 38px;
  margin-bottom: 17px;

  &.img-data {
    background-image: url(../images/features-section/data.png);
  }

  &.img-security {
    background-image: url(../images/features-section/security.png);
  }
  &.img-print {
    background-image: url(../images/features-section/print.png);
  }
  &.img-hours-access {
    background-image: url(../images/features-section/hours-access.png);
  }
}

.features-list-item-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: $title-color;

  margin-bottom: 15px;
}

.features-list-item-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $subtitle-color;

  margin-bottom: 26px;
}

.features-link {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
  color: $title-color;
}

.features-link-background {
  display: inline-block;
  width: 20px;
  height: 14px;
  vertical-align: middle;
  margin-left: 8px;
  background-image: url(../images/arrow-btn.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* -----СТИЛИ ДЛЯ ПК---- */

@media screen and (min-width: 1140px) {
  .features-section {
    padding-top: 87px;
    padding-bottom: 48px;
  }

  .features-title {
    text-align: center;
  }

  .features-subtitle {
    width: 584px;
    text-align: center;
    margin: 0 auto;
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .features-list-item {
    position: relative;

    &:nth-child(2n + 1) {
      margin-right: 146px;
    }

    &:nth-child(-n + 2) {
      margin-bottom: 80px;
    }
    // width: 442px;
    // height: 358px;
  }
  .features-list-item-wrapper-backgr {
    width: 442px;
    height: 358px;
    border-radius: 50px;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;

    &.item-img-data {
      background-image: url(../images/features-section/Rectangle-data.png);
    }
    &.item-img-security {
      background-image: url(../images/features-section/Rectangle-secur.png);
    }

    &.item-img-print {
      background-image: url(../images/features-section/Rectangle-print.png);
    }
  }

  .features-list-item-wrapper-content {
    position: static;
    padding-top: 49px;
    padding-bottom: 33px;
    padding-left: 172px;
    padding-right: 50px;
    width: inherit;
  }

  .features-list-item-title {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
  }

  .features-list-item-subtitle {
    width: 220px;
    height: 160px;
    margin-bottom: 20px;
  }

  .features-background-img {
    position: absolute;
  }

  .img-data {
    top: 72px;
    right: 299px;
    width: 232px;
    height: 211px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .img-security {
    width: 230px;
    height: 201px;
    top: 86px;
    right: 309px;
  }
  .img-print {
    width: 245px;
    height: 181px;
    top: 123px;
    right: 305px;
  }

  .img-hours-access {
    width: 241px;
    height: 185px;
    top: 70px;
    right: 303px;
  }
}
