@media screen and(max-width:1139px) {
  .invisible-mobail {
    display: none;
  }

  .wrapper-bacround-absolute {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #9c69e2;
    opacity: 0.1;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
}

.footer {
  position: relative;
  padding-top: 32px;
  padding-bottom: 24px;
}

@media screen and(max-width:1139px) {
  .wrapper-address {
    margin-bottom: 10px;
  }

  .footer-list-communication {
    margin-bottom: 24px;
  }

  .footer-list-item-communication {
    text-align: center;
  }
}

.address-map {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.01em;
  color: $title-color;
}
.footer-link-mail,
.footer-link-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;

  letter-spacing: 0.01em;
  color: $title-color;
}

.footer-list-social-media {
  display: flex;
  justify-content: center;

  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
}

.footer-list-item-social-media {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #212353;
  opacity: 0.15;

  &:not(:last-child) {
    margin-right: 14px;
  }
  svg {
    fill: #fff;
    width: 16px;
    height: 16px;
  }
}

@media screen and(min-width:1140px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 48px;
    border-top: 2px rgba(156, 105, 226, 0.2) solid;
  }

  .footer-wrapper-call-action {
    display: flex;
    justify-content: space-between;
  }

  .text-wrapper-call-action {
    width: 584px;
  }
  .title-call-action {
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 52px;
    color: $title-color;
  }

  .subtitle-call-action {
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: $subtitle-color;
  }

  .footer-wrapper-call-action {
    margin-bottom: 150px;
  }

  .list-btn-call-action {
    display: flex;
  }
  .list-item-btn-call-action:not(:last-child) {
    margin-right: 30px;
  }

  .footer-wrapper-nav {
    display: flex;
    margin-bottom: 92px;
  }

  .footer-link-logo-wrapper {
    display: flex;
    align-items: center;

    & > p {
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 32px;
      color: $title-color;
    }
    & > .el-logo-two {
      margin-right: 20px;
    }
  }

  .wrapper-logo-address {
    margin-right: 140px;
  }
  .wrapper-logo {
    position: relative;
    top: -3px;
    margin-bottom: 67px;
  }

  .wrapper-address {
    margin-bottom: 10px;
  }

  .address-map {
    width: 335px;
    text-align: start;
  }
  .footer-list-communication {
    width: 335px;
  }
  .footer-wrapper-about {
    width: 166px;
    margin-right: 69px;
    & > b {
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 26px;
      color: $title-color;
    }
  }
  .footer-list-about {
    margin-top: 30px;
  }

  .footer-link-item-about {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: $title-color;
  }

  .footer-wrapper-help {
    width: 166px;
    margin-right: 66px;

    & > b {
      font-weight: 800;
      font-size: 16px;
      line-height: 26px;
      color: $title-color;
    }
  }
  .footer-list-help {
    margin-top: 30px;
  }

  .footer-link-item-help {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: $title-color;
  }

  .footer-wrapper-social-media > b {
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;
    color: $title-color;
  }

  .footer-list-social-media {
    margin-top: 30px;
  }

  .copyright {
    width: 360px;
  }

  .text-copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: $title-color;
  }
}
