.body {
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
}

.header {
  padding-top: 20px;
  position: relative;
}

.header-link-logo {
  @media screen and (max-width: 1139px) {
    width: 28px;
    height: 20px;
    margin-right: calc(100% - 107px);
  }

  &-wrapper {
    display: flex;
  }
}

.el-logo-one {
  display: inline-block;
  width: 11.4px;
  height: 11.4px;
  background-color: #9c69e2;
  border-radius: 20px;
  margin-right: 5px;
  margin-top: 8.5px;
}

.el-logo-two {
  display: inline-block;
  width: 11.4px;
  height: 20px;
  background-color: #f063b8;
  border-radius: 20px;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.menu-btn-search-tel {
  margin-right: 25px;
}

.menu-btn-search-icon {
  display: block;
  background-image: url(../images/search-icon.png);
  background-size: contain;
  width: 24px;
  height: 24px;
}
// МЕНЮ ТЕЛЕФОНА

@media screen and (max-width: 1139px) {
  .menu-wrapper-tel {
    position: absolute;
    background-color: rgb(238, 238, 238);
    z-index: 2;
    top: 0;
    left: 0;
    transform: translate(-100%);
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;

    &.active {
      transform: translate(-0%);
      transition: 350ms;
    }
  }

  .icon-menu {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 28px;
    background-image: url(../images/menu-mob.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .menu-list-item {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    .menu-link {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 29px;
      letter-spacing: 0.01em;
      color: $title-color;
    }
  }

  .navigation {
    margin-bottom: 20px;
  }

  .header-btn-modal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;

    & img {
      display: inline-block;
      vertical-align: middle;
      padding: 10px;
    }
  }

  .close-mobile-menu {
    margin-left: auto;
    display: block;
    margin-right: 50px;
  }

  .body .active {
    overflow: hidden;
  }
}

// CТИЛИ ДЛЯ ПК

@media screen and (min-width: 1140px) {
  .close-mobile-menu,
  .menu-btn-tel {
    display: none;
  }
  .header {
    padding-top: 50px;
  }

  .header-wrapper {
    position: relative;
  }

  .header-link-logo {
    margin-right: 121px;
  }
  .el-logo-one {
    width: 20px;
    height: 20px;
    margin-right: 9px;
    margin-top: 15px;
  }

  .el-logo-two {
    width: 20px;
    height: 35px;
  }

  .menu-btn-search-tel {
    position: absolute;
    left: 532px;
  }

  .menu-btn-search-icon {
    width: 20px;
    height: 20px;
  }
  .menu-wrapper-tel {
    display: flex;
    align-items: center;
  }

  .navigation {
    margin-right: 418px;
  }

  .menu {
    display: flex;
  }

  .menu-list-item:not(:last-child) {
    margin-right: 40px;
  }

  .menu-link {
    padding-top: 2px;
    padding-bottom: 2px;

    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: $subtitle-color;

    &.menu-link-about {
      padding-right: 6px;
      font-weight: 800;
      color: $title-color;
    }
  }
}
