// font-family: 'Nunito', sans-serif;
// .header-wrapper {
//   height: 60px;
//   padding-top: 50px;
//   padding-bottom: 50px;
// }

.header {
  padding-top: 20px;
}

.header-link-logo {
  width: 28px;
  height: 20px;
  margin-right: 229px;

  &-wrapper {
    display: flex;
  }
}

.el-logo-one {
  display: inline-block;
  width: 11.4px;
  height: 11.4px;
  background-color: #9c69e2;
  border-radius: 20px;
  margin-right: 5px;
  margin-top: 8.5px;
}

.el-logo-two {
  display: inline-block;
  width: 11.4px;
  height: 20px;
  background-color: #f063b8;
  border-radius: 20px;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.menu-btn-search-tel {
  // margin-left: 229px;
  height: 24px;
  margin-right: 25px;
}

// стили для телефона

// @media screen and (max-width:1139px){
// .menu-wrapper-tel{

// }
// }

.menu-wrapper-tel {
  display: none;
}
