@media screen and (max-width: 1139px) {
  .hero-section {
    display: none;
  }
}

.hero-section {
  padding-top: 50px;
}
.hero-wrapper-box {
  //   top: 0;
  //   position: absolute;
  background-size: cover;
  background-image: url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  max-width: 1120px;
  height: 560px;
  border-radius: 50px;

  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 371px;
  padding-left: 104px;
  margin-bottom: 30px;
}

.hero-title {
  height: 184px;
  margin-bottom: 18px;

  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 79px;
}

.hero-subtitle {
  width: 380px;
  height: 120px;
  margin-bottom: 18px;

  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #4b5d68;
}

.hero-btn {
  border: none;
  border-radius: 50px;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-right: 36px;
  padding-left: 37px;
  background-color: $btn-color;

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
}
.pagination-slider-list {
  display: flex;
  justify-content: center;
}

.pagination-slider-list-item {
  &:not(:last-child) {
    margin-right: 8px;
  }

  & > button {
    display: block;
    cursor: pointer;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(156, 105, 226, 0.2);
    border: 0px;
    padding: 0px;
  }

  & > .active-pagination {
    background-color: $btn-color;
  }
}
