@media screen and (max-width: 1139px) {
  .hero-section {
    display: none;
  }
}
.hero-wrapper-box {
  //   top: 0;
  //   position: absolute;
  background-size: cover;
  background-image: url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  max-width: 1120px;
  height: 560px;
  border-radius: 50px;
}
